.hero-stage {
    position: relative;
    overflow: hidden; 
}

.hero-stage .hero-table {
    display: table; 
    height: 100%; 
    width: 100%;
    z-index: 2; 
    position: relative;
}

.hero-stage .hero-table-row {
    display: table-row;
}

.hero-stage .hero-table-cell {
    display: table-cell; 
    height: 100%;
}

.hero-stage .hero-mask {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}